.present{
color: #b33008;
width:123px;
}
.past{
color:#11691b;
width:88px;
}
.future{
background-color: #a5600ca8;
color:#efc78c;
width: 113px;
}
#Populate{
width: 344px;
margin-top: 15px;
margin-bottom: 40px;
}
body{
background-color: black;
background-image: url("./timeStream.jpg");
}
h1, h2{
color: #96c;
}
p{
color: #bf94e4;
}
#soloPast{
margin-left: 9px;
}
#soloPresent{
margin-left: 25px;
}
#soloFuture{
margin-left: 35px;
}
#a1{
margin-left:90px;
}
/*MAP*/
@media(max-width:400px){
.past{
width:60px;
}

.present{
width:55px;
}

.future{
width:62px;
}
#a1{
margin-left: 90px;
}


}